<% if @guess.guessed%>
	<p id="right_guess">You guessed correct! The answer was <%= @guess.card.answer %></p>
<% else %>
	<p id="wrong_guess">You guessed Wrong! The answer was  <%= @guess.card.answer %></p>
<% end %>
<form action="/round/<%=@round.id%>" method="get">
	<input type="submit" value="Continue">
</form>