<def class="containter">
	<def class="top_nav"><% erb :top_nav %></def>
	<def class="main">
		<h1><%= @header %></h1>
		<def class="game">
			<p>game content goes here!!</p>
			<p>game content goes here!!</p>
			<p>game content goes here!!</p>
			<p>game content goes here!!</p>
			<p>game content goes here!!</p>
		</def>
	</def>
	<def class="footer"><% erb :footer %></def>
</def>