<div class="login">
  <% if @error_message %>
  	<span class="error"><%= @error_message %></span>
  <% end %>
  <form action="/login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Log in">
  </form>
</div>
